
#signin-card {
    max-width: 40rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.privacy-link {
    float: right;
}

#question-title {
    padding-left: 20px;
}

#search-bar {
    width:100%;
}